.site {
  padding-top: 70px;
  padding-bottom: 20px;
}

.header {
  text-align: center;
  border-bottom: black 1px solid;
  padding-bottom: 50px;
}

.header-nav-links li {
  display: inline;
  margin: 0 10px 0 10px;
}

.header-nav-links .plain-list {
  padding-left: 0;
}

.header-title {

}

.header a {
  color: #333;
}

.header a:hover {
  text-decoration: none;
}

.site-title {
  font-size: 40px;
}

.site-subtitle {
  font-size: 16px;
  font-weight: 300;
  margin: 0 0 30px 0;
}

.footer {
  margin-top: 50px;
}

.plain-list {
  list-style-type: none;
}

.title-image {
  float: left;
  margin: 0 20px 20px 0;
}

.title-image img {
  max-width: 300px;
  max-height: 500px;
}

.main-title {
  text-align: center;
  margin: 50px 0 40px 0;
}

.post-teaser {
  margin: 30px 0 40px 0;
}

.post-teaser h4 {
  display: inline;
}

.post-teaser .tags {
  margin-left: 5px;
}

ul.tags {
  padding: 0;
}

.tag {
  color: #888;
}

span.tag {
  margin-left: 5px;
}

li.tag {
  display: inline;
  margin: 0 8px 0 8px;
}