<!DOCTYPE html>
<html lang="en" class="site">
<head prefix="og: http://ogp.me/ns# profile: http://ogp.me/ns/article#">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.data.general.site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#000000">
  <meta name="msapplication-navbutton-color" content="#000000">
  <meta name="apple-mobile-web-app-status-bar-style" content="#000000">

  <link rel="canonical" href="{{site.data.general.site.baseurl}}{{ page.url | replace:'index.html','' }}">

  <meta property="og:title" content="{{ page.title }}"/>
  <meta property="og:type" content="article">
  <meta property="og:locale" content="en_US">
  <meta property="og:description" content="{{ site.data.general.site.description }}">

  <title>{{ site.data.general.site.title }} || {{ page.title }}</title>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<header class="header container">
  <div class="header-title">
    <h2 class="site-title"><a href="/">{{ site.data.general.site.title }}</a></h2>
    <h3 class="site-subtitle">{{ site.data.general.site.subtitle }}</h3>
  </div>
  <nav class="header-nav-links">
    <ul class="plain-list">
      <li>
        <a href="/allposts.html">all posts</a>
      </li>
      <li>
        <a href="/about.html">about</a>
      </li>
    </ul>
  </nav>
</header>
<section id="main" class="container">
  <div class="main-title row col-md-12">
    <h1 class="page-title">{{ page.title}}</h1>
    {% if page.tags %}
    <ul class="tags">
      {% for tag in page.tags %}
      <li class="tag">{{ tag }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% if page.date %}
    <p class="meta">
      <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%d %b %Y" }}</time>
    </p>
    {% endif %}
  </div>

  <div class="main-content row">
    {{ content }}
  </div>
</section>

<footer class="container footer">
  <div class="row">
    <div class="col-md-12">
      <p>Lurk me at <a href="http://patricksy.de">patricksy.de</a></p>
    </div>
  </div>
</footer>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
